<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pregunta 3</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
    <center>
        <h1>QUIZ - Pregunta 3</h1>
        <p>¿Qué característica valoras más en un lenguaje de programación?</p>
        <form th:action="@{/pregunta4}" method="post" th:object="${usuario}">
            <button type="submit" name="respuesta" value="3">Rendimiento y estabilidad</button>
            <button type="submit" name="respuesta" value="2">Simplicidad para trabajar con bases de datos</button>
            <button type="submit" name="respuesta" value="1">Flexibilidad y dinamismo para el desarrollo web</button>
            <button type="submit" name="respuesta" value="4">Facilidad para trabajar con datos y automatización</button>
        </form>
    </center>
</body>
</html>
