<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pregunta 2</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
    <center>
        <h1>QUIZ - Pregunta 2</h1>
        <p>¿Qué prefieres en tus herramientas de desarrollo?</p>
        <form th:action="@{/pregunta3}" method="post" th:object="${usuario}">
            <button type="submit" name="respuesta" value="4">Bibliotecas para análisis de datos</button>
            <button type="submit" name="respuesta" value="3">Soporte para aplicaciones concurrentes</button>
            <p></p>
            <button type="submit" name="respuesta" value="1">Compatibilidad con desarrollo web</button>
            <button type="submit" name="respuesta" value="2">Conexión nativa con bases de datos</button>
        </form>
    </center>
</body>
</html>
