<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Manejo de envío de formularios(resultado)</title>
        <meta  http-equiv="Content-Type" content="text/html ; charset=UTF-8 " />
    </head>

    <body>
        <!-- Usamos el objeto creado en  saludo.html llamado saludo -->
        <h1>Resultados de formulario </h1>
        <p th:text="|id: ${saludo.id}|" > </p>
        <p  th:text="|contenido : ${saludo.contenido}|" ></p>
        <a th:href="@{/saludo}">Enviar otro mensaje </a>
    </body>
</html>