<html xmlns:th="http://www.thymeleaf.org" >
	<head>
		<title>Pregunta4</title>
		<link rel="stylesheet" type="text/css" href="/estilos.css">

	</head>
	<body>
		<h2>Pregunta 4</h2>

		<p>¿Qué te motiva más al programar?</p>
		<form class="container" th:action="@{pregunta5}"  method="post">
						<button type="submit" name="puntos" value="4">Resolver problemas complejos</button>
			          <button type="submit" name="puntos" value="3">Crear aplicaciones innovadoras</button>
			          <button type="submit" name="puntos" value="1">Aprender nuevas tecnologías</button>
			          <button type="submit" name="puntos" value="2">Optimizar procesos existentes</button>
		</form>
	</body>
</html>