<html xmlns:th="http://www.thymeleaf.org" >
	<head>
		<title>Pregunta 2</title>
		<link rel="stylesheet" type="text/css" href="/estilos.css">

	</head>
	<body>
	<form class="container" th:action="@{pregunta3}" method="post" >
				  <button type="submit" name="puntos" value="1">Compatibilidad con desarrollo web</button>
		          <button type="submit" name="puntos" value="2">Conexión nativa con bases de datos</button>
				  <button type="submit" name="puntos" value="3">Soporte para aplicaciones concurrentes</button>
				   <button type="submit" name="puntos" value="4">Bibliotecas para análisis de datos</button>

	</form>
	
	</body>
</html>