<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Pregunta 1</title>
	<link rel="stylesheet" type="text/css" href="/estilos.css">

</head>
<body>
	<h2>Pregunta 1</h2>
	<p>Bienvenido <span th:text="${session.usuario.nombre}"  ></span> </p>
	<p class="pregunta">¿Prefieres trabajar con:</p>
	<form class="container" th:action="@{pregunta2}" method="post"   >
		<button type="submit" name="puntos" value="1">Interfaces gráficas avanzadas</button>
		<button type="submit" name="puntos" value="2">Procesamiento de formularios web</button>
	    <button type="submit" name="puntos" value="3">Concurrencia y rendimiento</button>
		<button type="submit" name="puntos" value="4">Procesamiento de datos masivos</button>
	</form>
</body>
</html>