<html xmlns="http://www.thymeleaf.org">
	<head>
		<title>Pregunta5</title>
		<link rel="stylesheet" type="text/css" href="/estilos.css">

	</head>
	<body>
		<h2>Pregunta 5</h2>

		<p>¿Qué tipo de proyectos prefieres desarrollar?</p>

		<form class="container"  th:action="@{pregunta6}"   method="post" >
			<button type="submit" name="puntos" value="4">Análisis de datos complejos</button>
			      <button type="submit" name="puntos" value="3">Aplicaciones de alto rendimiento</button>
			      <button type="submit" name="puntos" value="2">Aplicaciones móviles</button>
			      <button type="submit" name="puntos" value="1">Sitios web interactivos</button>
		</form>
	</body>
</html>