<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>formulario.hmtl</title>
    </head>
    <body>
        
        <form action="#"  method="post"
        th:action="@{/}"  th:object="${Persona}">

        <table>
            <tr>
                <td>Nombre:</td>
                <td> <input type="text" th:field="*{nombre}"></td>
                <td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Nombre Error</td>
            </tr>
            <tr>
                <td>Edad:</td>
                <td><input type="text" th:field="*{edad}"></td>
                <td th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}">Edad Error</td>
            </tr>
            <tr>
                <td><button type="submit">Enviar</button></td>
            </tr>
        </table>

        </form>
    </body>

</html>