<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="/styles.css">

    </head>
    <body>
       <h2>Hola mundo</h2>
	   <hr>
	   <h3>Crear un nuevo profesor</h3>
	   <form  th:action="@{nuevoProfesor}" method="post"  th:object="${profesor}" >
			<input  type="text" th:field="*{nombre}"   >
			
			<button type="submit" >Crear nuevo profesor</button>
	   </form>
	   
	   
	   <h3>Lista de profesores con id y nombre </h3>
	   <ul  th:each=" p  : ${listaP}" >
			<li th:text="*{p.id}" ></li>
			<li th:text=" *{p.nombre}" ></li>
				
	   </ul>
	   
	   <hr>
	   <h3>Crear nuevo alumno</h3>
	   <form  th:action="@{crearAlumno}" method="post"  th:object="${alumno}"  >
		<input  type="text" th:field="*{nombre}"   >
		<select th:field="*{profesor}"  >
		    <option th:each="p : ${listaP}" th:value="${p.id}" th:text="${p.nombre}"></option>
		</select>

			<button type="submit">crear nuevo alumno</button>
		</form>
	   
		<h3>Lista de Alumnos con id y nombre e id de profesor </h3>
		<ul  th:each=" a  : ${listaA}" >
			<li th:text="*{a.id}" ></li>
			<li th:text=" *{a.nombre}" ></li>
			<li th:text=" *{a.profesor.id}" ></li>
		</ul>
		
		<hr>
		<h3>Borrar profesor</h3>
		<form  th:action="@{borrarProfesor}" method="post" >
			<select name="id"  >
					    <option th:each="p : ${listaP}" th:value="${p.id}" th:text="${p.nombre}"></option>
					</select>
					<button type="submit" >Borrar</button>
		</form>
		
    </body>
</html>